.viewTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}